@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Cormorant+Garamond:ital,wght@0,400;0,700;1,300&display=swap');
/* Variables */
:root {
    --bodyFont: 'Cormorant Garamond', Cambria,  Times, 'Times New Roman', Georgia, Cochin, serif;
    --headerFont: 'Cinzel','Cormorant Garamond', Cambria,  Times, 'Times New Roman', Georgia, Cochin, serif;
    --background-1: rgba(25, 25, 25, 1);
    --background-1-alpha: rgba(25, 25, 25, .5);
    --background-2: rgba(187, 200, 221, 1);
    --background-2-alpha: rgba(187, 200, 221, .25);
    --text-1: rgba(216, 242, 250, 1);
    --text-1-alpha: rgba(216, 242, 250, .25);
    --text-2: rgba(25, 25, 25, 1);
    --text-2-alpha: rgba(25, 25, 25, .25);
    --link-1: rgba(6, 165, 255, 1);
    --link-1-alpha: rgba(6, 165, 255, .5);
    --link-2: rgba(86, 27, 255, 1);
    --link-2-alpha: rgba(86, 27, 255, .5);
    --accent-1: rgba(255, 0, 122, 1);
    --accent-1-alpha: rgba(255, 0, 122, .5);
    --accent-2: rgb(179, 0, 173);
    --accent-2-alpha: rgba(229, 0, 96, .5);
    --accent-3: rgb(115, 39, 247);
    --spaceXL: 6rem;
    --spaceL: 4rem;
    --spaceM: 2rem;
    --spaceS: 1rem;
}

/* Global */
html {
    font-size: 20px;
}
* {
    font-family: var(--bodyFont);
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--headerFont);
    padding:unset;
    letter-spacing: calc(var(--spaceS)*.2);
    margin-block: .5em;
    color: var(--accent-3);
}
h1, h2, h3 {
    background: linear-gradient(45deg, var(--accent-1) 0%, var(--accent-3) 100%);
    background-position: left;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h1 {
    font-size: 40px;
}
p {
    margin-block:var(--smallMargin);
}
body {
    background-color: black;
    color: white;
    margin:0;
}
a {
    color:#06A5FF;
}
