@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Cormorant+Garamond:ital,wght@0,400;0,700;1,300&display=swap');

html {
    background-color: #000;
    color: white;
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
}
main {
    display: grid;
    grid-template-rows: 100vh max-content min-content max-content max-content min-content;
    gap: 2rem;
}
section {
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1 / span 6;
}
.full {
    
}
.content {

}
